language: rust
os: linux
dist: xenial

services:
  - docker

cache: cargo

branches:
  only:
    - "master"
    # ruby regex to match tags. Required, or travis wont trigger
    # deploys when a new tag is pushed.
    - /^\d+\.\d+\.\d+.*$/

install: cargo install cross

jobs:
  fast_finish: true
  include:
    - stage: prebuild
      name: "Run tests"
      install: skip
      script: cargo test --features integration-test
    - stage: build
      name: x86_64-unknown-linux-gnu
      script: cross build --target x86_64-unknown-linux-gnu --release
    - name: armv7-unknown-linux-gnueabihf
      script: cross build --target armv7-unknown-linux-gnueabihf --release
    - name: arm-unknown-linux-gnueabihf
      script: cross build --target arm-unknown-linux-gnueabihf --release
    - stage: deploy
      name: "Publish to Github Releases"
      install: skip
      script: skip
      deploy:
        provider: releases
        token:
          secure: oZ1OvdPnr8QvWeFyf3YWR3B1LQgO9T0dBaCdvrYLozwUwcqsa9zmAHA80d59zDyeh0wnt86JF0btUPzPDHnBVCpgnaacru71WlI8cqgbVeYTIS1zs6qGrfTnmeV4qKj3QC7qLhkAdeepbh2EPMBWQCPK8YAJjRQ/qNh+jn0S/WhdVSvD5NtfC2a9hWrXIHpm6hmh09V+g+GXJtYtLy9a0igC9M8tpHPv36kG6oaINe3AUCER8fNlrsI7/6nNrhTnTzvvbFyi10p2i2s1hIik9xMqHHTX7L4QdbVDkvVls/e2/hOMVntDS/EH5QLUkeBwzrI2hRBgkBTsTZCBQLn+E+RZIGsrcqMx7K6MA4IGpH5MLjCY+f3EH+5j+ZsGV4lMSLfs5gyTQEcoBUTmMh4rK/vGyPeft3MRR1V1q6ifoBGkw99pn4y2taIrbHawjp/P4thxJXGsy1zLlfschXzPynEHP6b9xDI/AHEeBfGOl57aFWoqgfGCCes6KdOO1qBUVy5hRLFicJLu6ApHdIe6nH39XWMxbiBERlA++IxsWULplBbv5KV1ws+BhsjDusmW+binWA/aK+S5twD//Zvs9Ym+NPqNwztW3J3jhIrhu6hgqsIXbCqxL/CD01uymWZrmnTB1GVluGzCazdm6YQZh0DtU2RYJdwrxbYzWGyg7Jg=
        skip_cleanup: true
        draft: true
        file:
          - target/x86_64-unknown-linux-gnu/release/heliocron
          - target/armv7-unknown-linux-gnueabihf/release/heliocron
          - target/arm-unknown-linux-gnueabihf/release/heliocron
        on:
          branch: master
          tags: true

notifications:
  email:
    on_success: never
