[package]
name = "heliocron"
version = "0.3.2"
authors = ["Michael Freeborn <michaelfreeborn1@gmail.com>"]
description = """
Heliocron is a command line application written in Rust capable of delaying execution of other 
programs for time periods relative to sunrise and sunset.
"""
documentation = "https://github.com/mfreeborn/heliocron"
homepage = "https://github.com/mfreeborn/heliocron"
repository = "https://github.com/mfreeborn/heliocron"
keywords = ["cron", "crontab", "sunrise", "unix", "scheduler"]
categories = ["command-line-utilities", "date-and-time"]
readme = "README.md"
license = "Apache-2.0 OR MIT"
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[features]
integration-test = []

[dependencies]
chrono = "0.4"
dirs = "2.0"
serde = {version = "1.0", features = ["derive"]}
structopt = "0.3"
toml = "0.5"

[dev-dependencies]
assert_cmd = "0.12"
criterion = "0.3"
predicates = "1"

[profile.release]
lto = true

[[bench]]
name = "benches"
harness = false
