name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
    - master

# Cancel previous workflows if they are the same workflow on same ref (branch/tags)
# with the same event (push/pull_request) even they are in progress.
# This setting will help reduce the number of duplicated workflows.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 0
  RUST_BACKTRACE: full

jobs:
  run_tests:
    name: Run Rust tests
    runs-on: ubuntu-latest
    env:
      NATIVE_TARGET: ${{ matrix.target == 'x86_64-unknown-linux-gnu' }}
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-unknown-linux-gnu, armv7-unknown-linux-gnueabihf, arm-unknown-linux-gnueabihf]
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross
        if: env.NATIVE_TARGET == 'false'

      - uses: Swatinem/rust-cache@v2

      - name: Set test command
        run: |
          if ${NATIVE_TARGET} == true; then
            echo "test_bin=cargo" >> $GITHUB_ENV
          else
            echo "test_bin=cross" >> $GITHUB_ENV
          fi

      - name: Run tests
        run: ${{ env.test_bin }} test --no-fail-fast --verbose --target ${{ matrix.target }} -- --nocapture
  
  lint:
    name: Check Rust code with rustfmt and clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Run rustfmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all-targets -- -D warnings
